project_id = "zion-flux"

[api]
enabled = true
port = 54321

[db]
port = 54322

[studio]
enabled = true
port = 54323

[auth]
enabled = true

[edge_runtime]
enabled = true

[realtime]
enabled = true

[functions.create-workspace]
verify_jwt = true
